<h1>Timeline#list_all</h1>

<% @snarls.each do |snarl| %>
  <li>
    <strong><%= snarl.dingo.name %></strong> Snarls:
    <em><%= snarl.post %></em>
    <span><%= snarl.created_at %></span>
    <%= link_to "About this Dingo", about_user_path(id: snarl.dingo.id) %>
  </li>
<% end %>
